{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

<link type="text/css" rel="stylesheet" href="style.css" />


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' >
  <title>Lab 4: Webpage Layout (cont)</title>
<style>



 






  body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: #FFFFFF;/*#f5f5f5;*/
  font-size: 0.8em;
}

/*----- NAVIGATION ----- */
#nav {
  margin-top: -20px;
  height:120px; /*100px;*/
  line-height: 100px;
  /*margin-bottom: 20px;*/
  background:#188D81;/*#242424;*/
  /*box-shadow: 0 -8px 5px 20px rgba(0, 0, 0, 0.1);*/
}

#navv {
  height: 50px;
  width: 300px;
  line-height: 30px;
  /*margin-bottom: 20px;*/
  margin-left: -540px;
  margin-top: 50px;/*-6px;*/
  /*box-shadow: 0 -8px 5px 20px rgba(0, 0, 0, 0.1);*/
}

#nav-wrap {

  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  
}
#nav9 {
  /*height: 120px; độ cao khung*/
/*  width: 500px;độ rộng khung trắng*/
  line-height: 10px; /*khoảng cách chữ dưới hình*/
  margin-bottom: 20px;
  margin-right: 100px; /*khoảng cách 2 nền*/
  margin-left:  500px; 
  margin-top: 10px;
  background:blue;/*#FFFFFF;*//*#242424*/
  /*box-shadow: 0 -8px 5px 20px rgba(0, 0, 0, 0.1);*/
}

/*#nav-wrap9 {

  width: 900px;
  height: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-right: 100px; /*khoảng cách 2 nền*/
  /*margin-left:  280px; */
  /*margin-top: 10px;*/
  /*position: relative;*/
  
/*}*/
#nav0 {
  height: 300px; /*độ rộng khung*/
  width: 1100px;
  line-height: 10px; /*khoảng cách chữ dưới hình*/
  margin-bottom: 20px;
  margin-right: 100px; /*khoảng cách 2 nền*/
  margin-left:  0px; 
  margin-top: 30px;
  background:#CCCCCC;/*#242424*/;
  /*box-shadow: 0 -8px 5px 20px rgba(0, 0, 0, 0.1);*/
}

#nav-wrap0 {

  width: 400px;
  height: 20px;
  margin: 0 auto;
  position: relative;
  
}

#nav1 {
  padding: 10px;
  /*height: 400px;*/
  line-height: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left:  30px; 
  margin-top: 10px;
  background:#F7F7F7;/*#242424*/;
  
  padding: 10px;
  box-shadow: 5px 10px #888888;
  /*box-shadow: 0 -8px 5px 20px rgba(0, 0, 0, 0.1);*/
}
#nav11 {
  height: 280px;
  padding:10px 10px 10px 10px;
  line-height: 10px;
  border: 0.5px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  /*margin-bottom: 10px;*/
  margin-top: 10px;
  /*margin-left:  30px; 
  margin-right:  30px;*/
  background:white;/*#242424*/;
  /*box-shadow: 0 -8px 5px 20px rgba(0, 0, 0, 0.1);*/
}
#nav11:hover{
  padding: 10px;
  box-shadow: 10px 10px #888888;
  transform: scale(1.05);
}

#nav3 {
  height: 2000px;
  line-height: 30px;
  margin-bottom: 10px;
  margin-right: 30px;
  margin-left:  30px; 
  background:#00bfff;/*#242424*/;
  /*box-shadow: 0 -8px 5px 20px rgba(0, 0, 0, 0.1);*/
}

#nav-wrap1 {

  width: 90%;
  height: 10%;
  margin: 0 auto;
  position: relative;
  
}

#nav2 {
  height: 200px; /*độ rộng khung*/
  width: 200px;
  line-height: 10px; /*khoảng cách chữ dưới hình*/
  margin-bottom: 20px;
  margin-right: 100px; /*khoảng cách 2 nền*/
  margin-left:  0px; 
  margin-top: 30px;
  background:#FFFFFF;/*#242424*/;
  /*box-shadow: 0 -8px 5px 20px rgba(0, 0, 0, 0.1);*/
}

#nav-wrap2 {

  width: 30px;
  height: 10px;
  /*margin: 0 auto;*/
  margin-bottom: 20px;
  /*margin-right: 100px;*/ /*khoảng cách 2 nền*/
  margin-left:  150px; 
  
  position: relative;
  
}

#nav4 {
  height: 200px; /*độ rộng khung*/
  width: 200px;
  line-height: 10px; /*khoảng cách chữ dưới hình*/
  margin-bottom: 20px;
  /*margin-right: 100px;*/ /*khoảng cách 2 nền*/
  margin-left:  380px;
  margin-top: -220px;
  background:#FFFFFF;/*#242424*/;
  /*box-shadow: 0 -8px 5px 20px rgba(0, 0, 0, 0.1);*/
}

#nav-wrap4 {

  width: 30px;
  height: 10px;
  margin-left:  185px; 
  position: relative;
  
}

#nav5 {
  height: 200px; /*độ rộng khung*/
  width: 200px;
  line-height: 10px; /*khoảng cách chữ dưới hình*/
  margin-bottom: 20px;
  /*margin-right: 100px;*/ /*khoảng cách 2 nền*/
  margin-left:  800px; 
  margin-top: -220px;
  background:#FFFFFF;/*#242424*/;
  /*box-shadow: 0 -8px 5px 20px rgba(0, 0, 0, 0.1);*/
}

#nav-wrap5 {

  width: 30px;
  height: 10px;
  margin-left:  185px; 
  position: relative;
  
}

#nav6 {
  height: 200px; /*độ rộng khung*/
  width: 200px;
  line-height: 10px; /*khoảng cách chữ dưới hình*/
  margin-bottom: 20px;
  margin-right: 100px; /*khoảng cách 2 nền*/
  margin-left:  900px; 
  margin-top: -220px;
  background:#CCCCCC;/*#242424*/;
  /*box-shadow: 0 -8px 5px 20px rgba(0, 0, 0, 0.1);*/
}

#nav-wrap6 {

  width: 30px;
  height: 10px;
  margin-left:  185px; 
  position: relative;
  
}





/*----- MENU ----- */
.menu {
  float: left;
  vertical-align: middle;
}

.menu li {
  display: inline;
  /*margin-left: 200px;*/
  margin: 10px -190px 20px 220px;
}

.menu a {
    /*font-family: 'Poppins', sans-serif;*/
    font-size: 15px;
    /*padding-left: 350px;*/
    text-transform: uppercase;
    /*transition: .3s all ease-out;*/
    text-decoration: none;
    color: white;
    margin-left:20px;
}
.ex3 {
  color:white;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: none;
  font-size: 16px;
}

/*----- SEARCH BAR ----- */
.searchbox {
  position: center;/*absolute*/
  right: 50px;
  width: 300px;/*180*/
  height: 50px;
  line-height: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
  border-bottom: 3px solid #555;
  padding-left: 10px;
}

/*----- STYLING ELEMENTS ----- */

input {
  border: none;
}



#nav-wrap ul {
  margin: 0;
  padding: 0;
}

/*----- END OF NAVIGATION ----- */

/*----- MAIN CONTENT ----- */

/*----- LEFT SIDEBAR ----- */

.left-sidebar {
  width: 200px;
  padding: 10px;
  background: #ffffff;
  margin-left: 20px;
  float: left;
}

.widget ul  {
  list-style: none;
  padding: 20px 0;
}
.widget li {
  padding: 8px 20px;
}
.widget-title {
  font-family: "Montserrat", sans-serif;
  height: 30px;
  line-height: 40px;
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  border-bottom: 1px solid #555;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/*----- MAIN PRODUCTS ----- */


.main-content {
  width: 680px;
  background-color: #ffffff;
  margin: 0 20px;
  padding: 20px;
  float: left;
  margin-bottom: 20px;
}

.main-content h2 {
    font-size: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-top: 10px;

}
.products {
  text-align: center;
}

.products ul{
  padding-left: 20px;
}

.single-product {/*chỉnh hình ảnh*/
  /*display: inline-block;*/
  width: 33.33%;/*173.7px;*/
  /*margin: 5px 5px 20px 5px;*/
  /*margin-left: -200px;*//*khảng cách hình và nền*/
  padding: 10px;
}
.single-product img {
  width: 300px;
}





/*----- RIGHT SIDEBAR ----- */

.right-sidebar{
  background: center top no-repeat;
  width: 150px;
  
  padding: 10px;
  float: left;
  background-color: white;
}

.right-sidebar p{
  position: relative;
  left: 3px;
  top: 270px;
  font-size: 25px;
}
.clear {
  clear: both;
}

/*----- PAGINATION ----- */
.pagination{
  position: relative;
  left: 230px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}



#footer{
  width: 100%;
  height: 150px;
  text-align: center;
  background: #242424  no-repeat;
  background-size: 90px 90px;
  background-position: 30px 50%;
}

////////
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  /*right: -50px;*/
  width: 40px;
  height: 41px;
  /*border: 1px solid #FFFFFF;*//*#00B4CC;*/
  /*background:while *//*#00B4CC;*/
  /*text-align: center;
  color: #fff;*/

 /* border-radius: 5px;*/

 /* cursor: pointer;
  font-size: 20px;*/
  margin-left:250px;
  margin-top: -40px;
}
.searchButton1 {
  position: absolute;  
  /*right: -50px;*/
  width: 50px;
  height: 45px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  /*text-align: center;
  color: #fff;*/*/
  border-radius: 5px;
 /* cursor: pointer;
  font-size: 20px;*/
  margin-left: 330px;/*280px;*/
  margin-top: -46px;
}

.wrap{
  width: 200px;
  position: absolute;
  margin-top: 30px;/*70%;*/
  left:820px;

  /*transform: translate(-60%, -40%);*/
}

.wrap1{
  /*position: absolute;*/
  /*left: -550px;*//*550px;*/
  margin-left: 270px;
  margin-top: -50px;
}
.wrap2{
  /*position: absolute;*/
  /*left: -550px;*//*550px;*/
  margin-left: 400px;
  margin-top: -32px;
  font-size: 15px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  /*color: white;*/
}
.wrap22{
  /*position: absolute;*/
  /*left: -550px;*//*550px;*/
  margin-left: -780px;
  margin-top: -10px;
  font-size: 15px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 45px;
  /*color: white;*/
}
/////////////////////////
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

.mySlides {display: none;}
/*img {vertical-align: middle;width: 900px;margin-left: }*/
img {width: 400px}
/* Slideshow container */
.slideshow-container {
  max-width: 300px;
  position: relative;
 /* margin: auto;*/
 margin-left: -250px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
///////////////////////
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}


* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.column1 {
  float: left;
  width: 33.33% ;
  
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  
}
.row1:after {
  content: "";
  display: table;
  clear: both;
  margin-left: : -550px;
}

li a.active {
  background-color: #4d0000;
  color: white;
}
</style>

</head>
<body>
	<!-- NAVIGATION -->
	<div id="nav">
    <div id="nav-wrap" >
    

      <ul class="menu">
        <li><a href="/home" style="font-weight: 900;">HOME</a></li>
        <li><a href="/search/" style="font-weight: 900;">SEARCH</a></li>
        <li><a href="/history/{{id}}" class="active" style="font-weight: 900;">HISTORY</a></li>    
        <li><a href="/contact/" style="font-weight: 900;">CONTACT</a></li>
      </ul>
    
      <div id="nav9">
        <div id="nav-wrap9" >
        
        <div class="wrap">

          <form autocomplete="off" method="post" action="/search/">
            {% csrf_token %}

          <div class="autocomplete" style="width:250px;">
            <input  type="text" style="border-radius: 20px" name="srh" placeholder="What are you looking for?">
          </div>
            <!-- <button type="submit" class="searchButton">searchButton chỉnh nút search
                <i class="fa fa-search"></i>
            </button> -->
            
            <!-- <div id ="navv" class="wrap1" >
            
            {% if sr %}
           
              {% for k in sr %}
              
              
                <a href = '/detail/{{k.id}}' >{{k.name}} </a><br>

    
              {% endfor %}
            {% endif %}
        </div> -->
        </form>
        <br>

          

        
        <div class="wrap1">
        <form method="POST" enctype="multipart/form-data" action="/upload/">
            {% csrf_token %}
            
            
            <!-- <input id="file" type="file" name="document" >
            <button  type="submit" class="searchButton1"> upload </button> -->
        
            
            <!-- <div style="height:0px;overflow:hidden"> -->
            <label for="upload"><i  type="submit" class="fa fa-camera" style="font-size:40px;color:#FFFFFF">  </i></label>
            <input class="fa fa-camera" type="file" onchange="this.form.submit()" name="document" id="upload" style="display: none;"/>
           <!--  <input type="file" id="fileInput" name="document"   >
            </div>
            
            
            <script>
            function chooseFile() {
              document.getElementById("fileInput").click();
            }
            </script>
            
            <button onclick="chooseFile();" class="fa fa-camera" type="button" ></button > -->

            <!-- <input type="file" id="fileInput" name="document" > -->
           <!--  <button  type="submit" id="fileInput1" > upload </button> -->
          </form> 
          </div>
       
        <br>

        <div  class="wrap2">
            <a href="/" style="font-weight: 900;" class="ex3">LOGOUT</a>
        </div>
        <div  class="wrap22">
            <a class="ex3" style="font-weight: 900;">CARS</a>
        </div> 
        
      </div>


      </div>
      
      
      </div>

    </div>
  </div>
	
<div id="nav1">
    <div id="nav-wrap1" >
  <h1 style="color:#188D81">HISTORY SEARCH</h1>

<!-- <div class="row">
  {% for k in ls %}
  <div class="column" >
   
    <a href="/Result_history/{{k.id}}"><img src="{{k.link}}" width="300px" height="200px"></a>
      
        
  </div>
  <div class="column" >
    
    
    <h2>{{k.date}}</h2>
  </div>
  <hr>
    {% endfor %}

</div> -->
    <ul class="products">
          
         
            <div class="row">
              {% for k in ls %}
              <!-- <div id="nav16"> -->
              <div class="column" >
              <div id="nav11">
                <h3>{{k.date}}</h3>
              <a href="/Result_history/{{k.id}}"><img src="{{k.link}}" width="300px" height="200px"></a>
              
              </div>
              </div>
              <!-- </div> -->
               {%  endfor %}
            </div>

         
          

          
        </ul>
</div>
</div>


</body>
</html>
