body {
	font-family: 'Roboto Condensed', sans-serif;
    background: #ffffff;
}

/*----- NAVIGATION -----*/
nav {
    border-bottom: 0.05em solid #5CAACC;
}
nav a{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:  1.1em;
    color: #5CAACC;
}
nav a:hover{
    text-decoration: none;
}
.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: relative;
    visibility: hidden;
}
/*----- CONTENT -----*/
#decor {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}
h2{
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.2em;
    color: #5CAACC;
    font-size: 3em;
}
h3{
    font-family: 'Source Sans Pro', sans-serif;
    color: #58A8CC;
    font-size: 2.2em;
}
h4{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
    color: gray;
}
#btn1{
    color: #58A8CC;
    border-color: #58A8CC;
}
#btn2{
    background-color: #58A8CC;
    border-color: #58A8CC;
    color: white;
} 
#btn1:hover, 
#btn1:focus, 
#btn1:active {
    color: white;
    background-color: #58A8CC;
    border-color: #58A8CC;
}
#btn2:hover, 
#btn2:focus, 
#btn2:active {
    color: #58A8CC;
    background-color: white;
    border-color: #58A8CC;
}
label{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3em;
    color: gray;
}
.leftslope {
    transform-origin: right center;
    transform: rotate(3deg);
    margin-right: -1px;
}
.rightslope {
    transform-origin: left center;
    transform: rotate(-3deg);
    margin-left: -1px;
}
.slope {
    height: 25px;
    float: left;
    width: 50%;
    border-bottom: 0.05em solid #58A8CC;
}
.advantage label{
    color: #5AA8CC;
    font-weight: bold;
}
.advantage p{
    color: gray;
}

.spacing{
    margin-bottom: 120px; 
}
/*----- FOOTER ----- */
.footer{
    border-bottom: 0px;
    border-top: 0.05em solid #58A8CC; 
}
/*----- FOOTER ----- */
.footer li{
    font-size: 0.9em;
}
