body {
	font-family: 'Roboto Condensed', sans-serif;
    background: #ffffff;
}

/*----- NAVIGATION -----*/
nav {
    border-bottom: 0.05em solid #5CAACC;
}
nav a{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:  1.1em;
    color: #5CAACC;
}
nav a:hover{
    text-decoration: none;
}
.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: relative;
}
/*----- CONTENT -----*/
h2{
    font-family: 'Source Sans Pro', sans-serif;
    color: #58A8CC;
}
h4{
    font-family: 'Source Sans Pro', sans-serif;
    color: #58A8CC;
    font-size: 1.6em;
}
h5{
    font-family: 'Source Sans Pro', sans-serif;
    color: #58A8CC;
}
.acc h5{
    font-family: 'Source Sans Pro', sans-serif;
    color: dimgrey;
}
#btn1{
    color: #58A8CC;
    border-color: #58A8CC;
}
#btn2{
    background-color: #58A8CC;
    border-color: #58A8CC;
    color: white;
    padding: 0.8em;
}
#btn3{
    background-color: #58A8CC;
    border-color: #58A8CC;
    color: white;
}
#btn4{
    color: #58A8CC;
    border-color: #58A8CC;
    color: white;
}
#btn1:hover, 
#btn1:focus, 
#btn1:active {
    color: white;
    background-color: #58A8CC;
    border-color: #58A8CC;
}
#btn2:hover, 
#btn2:focus, 
#btn2:active {
    color: #58A8CC;
    background-color: white;
    border-color: #58A8CC;
}
#btn3:hover, 
#btn3:focus, 
#btn3:active {
    color: #58A8CC;
    background-color: white;
    border-color: #58A8CC;
}
.dropdown-menu a{
    color: #58A8CC;
}
.dropdown-toggle::after {
    display:none;
}
.modal img{
   transform: translateX(-50%);
    left: 50%;
    position: relative; 
}
.spacing{
    margin-bottom: 80px;
}
.spacer20{
    margin-bottom: 20px;
}
.spacer130{
    margin-bottom: 130px;
}
hr{
    border-color: #58A8CC;
}
.acc{
    background-color: #F5F3EE;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
}
.userinfo a{
    color: #495057;
    text-decoration: none;
}
.tab-content{
    border-left: 1px solid #DEE2E6;
    border-right: 1px solid #DEE2E6;
    border-bottom: 1px solid #DEE2E6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*----- IMAGE HOVER -----*/
.img-hover{
    position: relative;
    width: 100%;
}

.hover{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-hover:hover .hover {
  opacity: 0.3;
}

.img-hover:hover .middle {
  opacity: 0.9;
}

.edit {
  background-color: #58A8CC;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.howto label{
    color: gray;
    font-weight: bold;
}




/*----- FOOTER ----- */
.footer{
    border-bottom: 0px;
    border-top: 0.05em solid #58A8CC; 
}
/*----- FOOTER ----- */
.footer li{
    font-size: 0.9em;
}


